{% extends 'template.html' %}

{% block body %}


<!-- Header with full-height image -->
<div style="background-color: white; padding-top:50px; align-content: center; color: white;" class="bgimg-1 w3-container" id="home">
  <div style="align-content: center; min-height: 500px;">
    <div class="w3-display-middle w3-large" style="opacity: 100%;">
      <h1 class="w3-jumbo"><b>Contact relief</b></h1>
    </div>
  </div>
</div>

<style>

html{
  background-color: white;
}
</style>

<script>


</script>

{% endblock %}